*{
    margin: 0;
    padding: o;
}
:root{   
    --primary-color: #212121;
    --secondary-color: #fff;
    
}
.dark-theme{
    --primary-color: #edf2fc;
    --secondary-color: black ;
}

#icon{
    width: 30px;
    cursor: pointer;
    background: var(--primary-color);
}

nav ul{
    flex: 1;
    text-align: right;
}

body{
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    
}
.point{
    
}

nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--secondary-color);

}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: #ff4321;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
span{
    color: #ff4321;
}
.info p{
    color: var(--secondary-color);
    line-height: 22px;
}
.info a{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.img-box{
    
width: 300px;
height: 300px;
margin-bottom: 80px;
    
}
.img-box img{
    
   width: 100%;

}
.img-box:hover .back-img{
    bottom: 40px;
        
    bottom: 0;
    transform: translateY(50px);
    transition: .5s ease-in-out;
}
.img-box:hover .front-img{
    

}
.social-links{
    margin-left: 8%;
    margin-top: 100px;
}
.social-links a{
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
}
.social-links a:hover{
    color: #ff4321;
}
.job h3{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    
}
.hero{
     background-color: rgba(0, 0, 139, 0.54);
}
.footer{
    background-color: rgba(0, 0, 139, 0.54);
    margin-bottom: -50px;
    padding-bottom: 10px;
}
.footer .stock{
    text-align: center;
    padding-bottom: 25px;
    color: var(--secondary-color);
    font-size: 12px;
    
}
 .list li{
    list-style: none;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    border-radius: 50%;
    margin: 10px 10px;
}
.list li:hover{
    color: #ff4321;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper{
    padding: 20px;
}

@media (max-width:768px) {
    .profile{
        flex-direction: column;
        gap:20px;
    }
}
